/* Main */
:root {
    --backgroundWhite: #ecf0f3;
    --backgroundGrey: #d4d7d9;
    --textBlack: #3c3e41;
    --primary: #fd4520;
    --primaryLight: #e65b40;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--textBlack);
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

/* Colors */
.textPrimary {
    color: var(--primary) !important;
}

.bottomBorderPrimary {
    border-bottom: 2px solid var(--primary);
}

.backgroundWhite {
    background-color: var(--backgroundWhite);
}

.buttonPrimary {
    background: linear-gradient(
        to top left,
        var(--primary),
        var(--primaryLight)
    );
    color: var(--backgroundWhite);
    border: 2px solid var(--primary);
}

.buttonPrimary:hover {
    background: none;
    background-color: var(--backgroundWhite);
    color: var(--primary);
    border: 2px solid var(--primary);
}

.backgroundGradient {
    background: linear-gradient(
        to top left,
        var(--backgroundWhite),
        var(--backgroundGrey)
    );
}

/* Custom */
.contactCard {
    width: 100%;
}

@media screen and (min-width: 900px) {
    .contactCard {
        width: 33%;
    }
}

.projectCard {
    width: 100%;
}

@media screen and (min-width: 900px) {
    .projectCard {
        width: 25%;
    }
}
