/* Main */
:root {
    --backgroundWhite: #ecf0f3;
    --backgroundGrey: #d4d7d9;
    --textBlack: #3c3e41;
    --primary: #fd4520;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--textBlack);
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

/* Colors */
.textPrimary {
    color: var(--primary) !important;
}

.bottomBorderPrimary {
    border-bottom: 2px solid var(--primary);
}

.backgroundWhite {
    background-color: var(--backgroundWhite);
}

.buttonPrimary {
    background-color: var(--primary);
    color: var(--backgroundWhite);
    border: 2px solid var(--primary);
}

.buttonPrimary:hover {
    background-color: var(--backgroundWhite);
    color: var(--primary);
    border: 2px solid var(--primary);
}

.backgroundGradient {
    background: linear-gradient(
        to top left,
        var(--backgroundWhite),
        var(--backgroundGrey)
    );
}
